# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Build output
android/
ios/
build/
*.apk
*.aab

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# OS files
.DS_Store
Thumbs.db

# Certificates / keys
*.pem

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Example app
app-example/
